<div class=" mt-10 flex flex-row justify-center items-start flex-wrap min-w-full">
    <div class="rounded-full p-2 m-1 bg-gray-600 text-gray-100  w-24 h-24 flex items-center justify-center text-xl font-bold">Cursos </div>
    <div class="rounded-full p-2 m-1 bg-indigo-600 text-indigo-100  w-40 h-40 flex items-center justify-center text-xl font-bold">Roger </div>
    <div class="rounded-full p-2 m-1 bg-pink-600 text-pink-100  w-32 h-32 flex items-center justify-center text-xl font-bold"> Stick</div>
    <div class="rounded-full p-2 m-1 bg-purple-600 text-purple-100  w-40 h-40 flex items-center justify-center text-xl font-bold"> </div>
    <div class="rounded-full p-2 m-1 bg-green-600 text-green-100  w-24 h-24 flex items-center justify-center text-xl font-bold">Comodin </div>
    <div class="rounded-full p-2 m-1 bg-blue-600 text-blue-100  w-40 h-40 flex items-center justify-center text-xl font-bold">Comodin </div>
    <div class="rounded-full p-2 m-1 bg-orange-600 text-orange-100  w-32 h-32 flex items-center justify-center text-xl font-bold"> </div>
    <div class="rounded-full p-2 m-1 bg-yellow-600 text-yellow-100  w-40 h-40 flex items-center justify-center text-xl font-bold"> Palma</div>
    <div class="rounded-full p-2 m-1 bg-red-600 text-red-100  w-24 h-24 flex items-center justify-center text-xl font-bold">Comodin </div>
    <div class="rounded-full p-2 m-1 bg-teal-600 text-teal-100  w-40 h-40 flex items-center justify-center text-xl font-bold" routerLink="/menu/usuarios">Usuarios </div>
    <div class="rounded-full p-2 m-1 bg-gray-600 text-gray-100  w-32 h-32 flex items-center justify-center text-xl font-bold">Cedeño </div>
    <div class="rounded-full p-2 m-1 bg-indigo-600 text-indigo-100  w-40 h-40 flex items-center justify-center text-xl font-bold">Estudiantes </div>
</div>
